/*--------------------------------------------
Button Black CSS
--------------------------------------------*/
QPushButton {
    color: #313131;
    background: #f8fcfc;
    border: 1px solid #2d2d2e;
    border-radius: 12px;
    padding: 6px;
}
QPushButton:hover{
    background: #43a9b8;
    border: none;
    color: #ffffff;
}
QPushButton:pressed {
    background: #6aafbe;
    border: none;
    color: #ffffff;
}
QPushButton::disabled {
    color: rgba(255, 255, 255, 10%);
    background: rgba(87, 87, 87, 40%);
    border: 1px solid rgba(45, 45, 46, 40%);
}
